<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-raw-staff-order-form></app-raw-staff-order-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-raw-staff-orders-list></app-raw-staff-orders-list> 
    </mat-card>
</div>
