<table mat-table [dataSource]="customersService.customersList"  class="mat-elevation-z8">

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="customerName">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element" > {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef > Phone number </th>
      <td mat-cell *matCellDef="let element" > {{element.phoneNumber}} </td>
    </ng-container>
  
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef > Country </th>
      <td mat-cell *matCellDef="let element" > {{element.address.country}} </td>
    </ng-container>
  
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef > City </th>
      <td mat-cell *matCellDef="let element" > {{element.address.city}} </td>
    </ng-container>

    <ng-container matColumnDef="street">
        <th mat-header-cell *matHeaderCellDef > Street </th>
        <td mat-cell *matCellDef="let element" > {{element.address.street}} </td>
      </ng-container>

      <ng-container matColumnDef="houseNumber">
        <th mat-header-cell *matHeaderCellDef > House </th>
        <td mat-cell *matCellDef="let element" > {{element.address.houseNumber}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="getRow(row)" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>