@import '../../../../assets/scss/theme-colors.scss';
@import '../../../../assets/scss/global-sizes.scss';
@import '../../../../assets/scss/materials-override.scss';

table{
    background-color: $secondaryColor;
    width: 100%;
    color: $textColor;
}