<table
  mat-table
  [dataSource]="orderService.rawStaffOrdersList"
  matSort
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>Num.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="supplierName">
    <th mat-header-cell *matHeaderCellDef>
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.supplier.name }}</td>
  </ng-container>

  <ng-container matColumnDef="totalPrice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ element.time | date: "dd.MM.yyyy HH:mm" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    (click)="getRow(row)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
