@import '../../../../assets/scss/theme-colors.scss';
@import '../../../../assets/scss/global-sizes.scss';
@import '../../../../assets/scss/materials-override.scss';

table{
    background-color: $secondaryColor;
    width: 100%;
    color: $textColor;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $backgroundColor;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondaryColor;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  