@import "./theme-colors.scss";

.mat-drawer-container {
  background-color: $backgroundColor;

  //override material toolbar
  .mat-toolbar-single-row {
    height: 60px;
    background-color: $secondaryColor;

    //override material tabs
    .mat-primary {
      margin-top: -12px;
      border-bottom: none;
    }
  }

  //override material sidenav
  .mat-sidenav {
    width: 35vmin;
    background-color: $secondaryColor;

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  // header override
  .pages-container {
    .mat-tab-nav-bar {
      margin: 0;

      .mat-tab-links {
        height: 100%;

        .mat-tab-link {
          height: 100%;
          font-weight: 100;
          font-size: 2vmin;
          color: $textColor;
          opacity: 1;
          padding: 0 2vmin;
          min-width: 90px;
        }

        .mat-tab-label-active {
          color: $mainColor;
        }
      }

      .mat-ink-bar {
        background-color: $mainColor;
        height: 0.5vmin;
        top: 0;
      }
    }
  }
}

//override material input
.mat-form-field {
  color: $textColor;
  margin-top: 2vmin;

  .mat-form-field-label {
    color: $textColor;
  }

  .mat-input-element {
    caret-color: $textColor;
    font-size: 2.5vmin;
    font-weight: 100;
  }

  .mat-form-field-underline {
    background-color: $textColor;
  }

  &.mat-focused {
    .mat-form-field-label {
      color: $textColor;
      font-weight: 300;
    }

    .mat-form-field-ripple {
      background-color: $textColor;
    }
  }
}

// stepper override
.mat-stepper-vertical {
  background-color: transparent;

  .mat-vertical-stepper-header {
    padding: 0;
    cursor: default;
    overflow: visible;
    height: auto;

    &:hover,
    .cdk-program-focused,
    .cdk-focused {
      background-color: transparent;
    }

    .mat-step-icon {
      display: none;
    }

    .mat-step-label {
      display: flex;
      flex: 1;
      align-items: center;
      z-index: 1;
      cursor: default;
      white-space: initial;
    }

    .mat-step-header-ripple {
      display: none;
    }
  }

  .mat-vertical-content-container {
    margin-left: 1.5vmin;

    .mat-vertical-content {
      padding: 0 1vmin 1vmin 2vmin;
    }
  }

  .mat-vertical-stepper-content {
    height: 100% !important;
    visibility: visible !important;
  }

  .mat-stepper-vertical-line::before {
    border-left: 0.1vmin solid #68b70c;
    bottom: -2vmin;
    top: -2vmin;
  }
}

//select override
.mat-select {
  color: $mainColor;

  .mat-option {
    background-color: $secondaryColor;
  }

  .mat-select-panel .mat-option.mat-selected {
    background-color: $secondaryColor;
  }

  .mat-focused.mat-primary .mat-select-arrow {
    color: $textColor;
  }

  .mat-select-arrow {
    color: $textColor !important;
  }

  .mat-select-value {
    color: white;
    div{
      color: white;
    }
  }
}

//mat-table override
.mat-tab-label-content {
  color: $textColor;
}

.mat-table {
  .mat-header-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-cell {
    padding: 0 20px;
    color: $textColor;
  }

  .mat-tab-label {
    color: $textColor;
  }
}

//buttons override
app-personal-achievements,
app-challenges,
app-last-achievements,
app-user {
  .request-button,
  .edit-user-button {
    display: flex;
    height: 3vmin;
    min-width: unset;

    .mat-button-wrapper {
      line-height: normal;
    }
  }
}

// dialogs styles
.cdk-overlay-pane {
  .mat-dialog-container {
    padding: 0 !important;
    border-radius: 2vmin;
    background-color: $secondaryColor;
    box-shadow: none;
  }

  // user menu styles
  .mat-menu-panel {
    background-color: transparent;

    .mat-menu-content {
      padding: 0;
      background-color: #4f565f;

      .mat-menu-item {
        color: #ffffff;
        font-size: 1.5vmin;
        height: 5vmin;
        line-height: 1.5vmin;
        padding: 0 2vmin;
      }
    }
  }
}

.other-user-dialog {
  .mat-dialog-container {
    width: 115vmin;
    height: 50vmin;
  }
}

.edit-user-dialog,
.edit-password-dialog {
  .mat-dialog-container {
    box-shadow: none;
  }
}

.edit-user-dialog-backdrop,
.edit-password-dialog-backdrop {
  background-color: $backdropColorDark;
}

.thank-you-dialog {
  width: 50vmin;
}

// user-achievement checkbox styles
app-assign-achievements {
  .mat-checkbox {
    &.mat-checkbox-checked {
      .mat-checkbox-inner-container {
        .mat-checkbox-background {
          background-color: transparent;

          .mat-checkbox-checkmark-path {
            stroke: $mainColor !important;
          }
        }
      }
    }

    .mat-checkbox-inner-container {
      width: 25px;
      height: 25px;

      .mat-checkbox-frame {
        border-color: $textColor;
      }
    }
  }
}

// paginator styles
.mat-paginator {
  background-color: $secondaryColor;
  color: $textColor;
}

.mat-expansion-panel-body {
  padding: 0 !important;
  max-height: 70vh;
  overflow-y: auto;
}

.mat-expansion-panel-header:hover {
  background: unset !important;
}

exoft-profile-all-tournaments {
  .mat-expansion-panel-body {
    overflow-y: hidden;
  }
}

.mat-expansion-indicator {
  &::after {
    color: $textColor;
  }
}

@import "./material-override.responsive.scss";
