$mainColor:  #68B70C;
$secondaryColor: #3A3E46;
$backgroundColor: #2C2C2C;
$textColor: #FFFFFF;
$backdropColorLight: #00000078;
$backdropColorDark: #000000AB;
$errorColor: #B70B0B;
$avatarBackgroundColor: #576271;
$scrollbarTrackColor: #484E58;
$winBackgroundColor: #68B70C;
$loseBackgroundColor: #B70B0B;
$creationBackgroundColor: #B7B70B;
$firstPlaceColor: #F1C232;
$secondPlaceColor: #CCCCCC;
$thirdPlaceColor: #F6B26B;
$backButtonColor: #94A3B9;
$vacationTagColor: #ffa851;
$remoteTagColor: #ac91f1;
$sickLeaveTagColor: #80acb3;
$dayOffTagColor: #c28ca6;
