<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-raw-staff-form></app-raw-staff-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-raw-staff-list></app-raw-staff-list> 
    </mat-card>
</div>

