<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createProductForm"
  onSubmit="return false;"
  autocomplete="off"
>
  <mat-card class="margin-top mat-card-background">
    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Product name</mat-label>

      <mat-error *ngIf="createProductForm.get('productName').errors?.required">
        Product name is required
      </mat-error>
      <mat-error *ngIf="createProductForm.get('productName').errors?.maxlength">
        Product name must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="productName" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Weight</mat-label>

      <mat-error *ngIf="createProductForm.get('weight').errors?.required">
        Weight is required
      </mat-error>
      <mat-error *ngIf="createProductForm.get('weight').errors?.pattern">
        Weight must contain decimal fractions
      </mat-error>

      <input matInput type="number" class="input-color" formControlName="weight" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Description</mat-label>

      <mat-error *ngIf="createProductForm.get('description').errors?.required">
        Description is required
      </mat-error>
      <mat-error *ngIf="createProductForm.get('description').errors?.maxlength">
        Description must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="description" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Expiration term</mat-label>

      <mat-error
        *ngIf="createProductForm.get('expirationTerm').errors?.required"
      >
        Expiration term is required
      </mat-error>

      <input
        matInput
        type="number"
        class="input-color"
        formControlName="expirationTerm"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Mark up</mat-label>

      <mat-error *ngIf="createProductForm.get('markUp').errors?.required">
        Mark up is required
      </mat-error>
      <mat-error *ngIf="createProductForm.get('markUp').errors?.pattern">
        Mark up must contain decimal fractions
      </mat-error>

      <input matInput type="number" class="input-color" formControlName="markUp" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Measure</mat-label>
      <mat-error *ngIf="createProductForm.get('idMeasure').errors?.required">
        Measure is required
      </mat-error>
          <mat-select class="input-color" formControlName="idMeasure">
            <mat-option  *ngFor="let measure of productService.measureSelect" [value]="measure.idMeasure">
             {{measure.name}}
            </mat-option>
          </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="margin-top mat-card-background">
    <mat-card-title>Ingredients</mat-card-title>
    <h2 *ngIf="errorIn!=-1" style="color:red">Raw stuff do not exist: ingredient {{errorIn}}</h2>
    <div
      formArrayName="ingredients"
      *ngFor="
        let ingredient of createProductForm.get('ingredients').controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <div class="button-delete-container">
          <mat-icon class="delete-stop-button" (click)="deleteIngredient(i)"
            >clear</mat-icon
          >
        </div>
        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Raw staff</mat-label>

          <mat-error *ngIf="ingredient.get('rawStaff').errors?.required">
            Raw staff name is required
          </mat-error>
          <mat-error *ngIf="ingredient.get('rawStaff').errors?.maxlength">
            Raw staff name must be 20 characters or fewer
          </mat-error>
          

          <input
            matInput
            class="input-color"
            formControlName="rawStaff"
            [matAutocomplete]="auto2"
          />
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option
              *ngFor="
                let option of productService.rawStaffNamesAutocomplete;
                let j = index
              "
              [value]="option"
              (click)="autocompleteArrayRawStaffClick(i, j)"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Weight</mat-label>
          <mat-error *ngIf="ingredient.get('weight').errors?.required">
            Weight is required
          </mat-error>
          <mat-error *ngIf="ingredient.get('weight').errors?.pattern">
            Weight must contain decimal fractions
          </mat-error>

          <input matInput type="number" class="input-color" formControlName="weight" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Measure</mat-label>
          <mat-error *ngIf="ingredient.get('idMeasure').errors?.required">
            Measure is required
          </mat-error>
              <mat-select class="input-color" formControlName="idMeasure">
                <mat-option  *ngFor="let measure of productService.measureSelect" [value]="measure.idMeasure">
                 {{measure.name}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <input type="hidden" formControlName="idRawStaff" />
        <mat-divider></mat-divider>
      </div>
    </div>
    <mat-icon class="add-button" (click)="addIngredient()"
      >add_circle_outline</mat-icon
    >
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createProductForm.invalid"
      *ngIf="productService.productToUpdate == null"
      (click)="createProduct()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createProductForm.invalid"
      *ngIf="productService.productToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
