<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createSupplierForm"
  onSubmit="return false;"
  autocomplete="off"
>
  <mat-card class="margin-top mat-card-background">
    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Supplier name</mat-label>

      <mat-error
        *ngIf="createSupplierForm.get('supplierName').errors?.required"
      >
        Supplier name is required
      </mat-error>
      <mat-error
        *ngIf="createSupplierForm.get('supplierName').errors?.maxlength"
      >
        Supplier name must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="supplierName" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Phone number</mat-label>

      <mat-error *ngIf="createSupplierForm.get('phoneNumber').errors?.required">
        Phone number is required
      </mat-error>
      <mat-error
        *ngIf="createSupplierForm.get('phoneNumber').errors?.maxlength"
      >
        Phone number name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        type="tel"
        class="input-color"
        formControlName="phoneNumber"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Raw staff</mat-label>

      <mat-select
        class="input-color select-dark"
        formControlName="rawStaffArray"
        multiple
      >
        <mat-option
          *ngFor="let rawStaff of suppliersService.rawStaffList"
          [value]="rawStaff.idRawStaff"
        >
          {{ rawStaff.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="margin-top mat-card-background">
    <mat-card-title>Address</mat-card-title>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Country</mat-label>

      <mat-error *ngIf="createSupplierForm.get('country').errors?.required">
        Country is required
      </mat-error>
      <mat-error *ngIf="createSupplierForm.get('country').errors?.maxlength">
        Contry name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="country"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">City</mat-label>

      <mat-error *ngIf="createSupplierForm.get('city').errors?.required">
        City is required
      </mat-error>
      <mat-error *ngIf="createSupplierForm.get('city').errors?.maxlength">
        City name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="city"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Street</mat-label>

      <mat-error *ngIf="createSupplierForm.get('street').errors?.required">
        Street is required
      </mat-error>
      <mat-error *ngIf="createSupplierForm.get('street').errors?.maxlength">
        Street name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="street"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">House number</mat-label>

      <mat-error *ngIf="createSupplierForm.get('houseNumber').errors?.required">
        House number is required
      </mat-error>

      <input
        matInput
        class="input-color"
        type="number"
        formControlName="houseNumber"
        autocomplete="nope"
      />
    </mat-form-field>
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createSupplierForm.invalid"
      *ngIf="suppliersService.supplierToUpdate == null"
      (click)="createSupplier()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createSupplierForm.invalid"
      *ngIf="suppliersService.supplierToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="delete-button"
      *ngIf="suppliersService.supplierToUpdate != null"
      (click)="deleteButtonClick()"
    >
      Delete
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
