<form class="example-form" (keydown.enter)="$event.preventDefault()" [formGroup]="createMeasureForm"
onSubmit="return false;" autocomplete="off">
    <mat-card class="margin-top mat-card-background">

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Name</mat-label>
 
    <mat-error *ngIf="createMeasureForm.get('name').errors?.required">
       Measure name is required
      </mat-error>
      <mat-error *ngIf="createMeasureForm.get('name').errors?.maxlength">
        Measure name must be 20 characters or fewer
      </mat-error>
 
      <input matInput class="input-color" formControlName="name">
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Part of kg</mat-label>

    <mat-error *ngIf="createMeasureForm.get('partOfKg').errors?.required">
        Part of kg is required
      </mat-error>
      <mat-error *ngIf="createMeasureForm.get('partOfKg').errors?.pattern">
        Part of kg must contain decimal fractions
      </mat-error>

    <input matInput type="number" class="input-color" formControlName="partOfKg"> 
  </mat-form-field>
  <div class="form-buttons-container">
    <button mat-raised-button
     class="submit-button" 
     [disabled]="createMeasureForm.invalid"
     *ngIf="measureService.measureToUpdate == null"
     (click)="createMeasure()"
     >Add</button>

    <button mat-raised-button 
    class="submit-button" 
    [disabled]="createMeasureForm.invalid"
    *ngIf="measureService.measureToUpdate != null"
    (click)="updateButtonClick()"
    >Update</button>

    <button mat-raised-button 
    class="delete-button" 
    *ngIf="measureService.measureToUpdate != null"
    (click)="deleteButtonClick()"
    >Delete</button>

    <button mat-raised-button 
    class="cancel-button" 
    (click)="cancelButtonClick()"
    >Cancel</button>
</div> 
    </mat-card>
</form>
