<div class="container">
  <h1 mat-dialog-title class="property-info">Order details</h1>
  <div mat-dialog-content>
    <span class="property-name">Name:</span>
    <span class="property-info"> {{ order.supplier.name }}</span
    ><br />
    <span class="property-name">Price:</span>
    <span class="property-info"> {{ order.totalPrice }}</span
    ><br />
    <span class="property-name">Date:</span>
    <span class="property-info">
      {{ order.time | date: "dd.MM.yyyy HH:mm" }}</span
    ><br />
    <span class="property-name">Status:</span>
    <span class="property-info"> {{ order.status }}</span
    ><br />
    <br />
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order items:
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table
        mat-table
        [dataSource]="orderService.orderItemsList"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Num.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="rawStaffName">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">
            {{ element.rawStaff.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="pricePerMeasure">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.rawStaff.pricePerMeasure }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Sum</th>
          <td mat-cell *matCellDef="let element">
            {{ (element.rawStaff.pricePerMeasure * element.amount).toFixed(2) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-expansion-panel>

    <div *ngIf="orderService.abilityToConfirmOrder">
      <div [formGroup]="storageForm">
        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Storage</mat-label>

          <mat-select class="input-color" formControlName="idStorage">
            <mat-option
              *ngFor="let storage of orderService.storagesList"
              [value]="storage.idStorage"
            >
              {{ storage.address.country }},{{ storage.address.city }},
              {{ storage.address.street }} street,{{
                storage.address.houseNumber
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div mat-dialog-actions class="form-buttons-container">
        <button
          mat-raised-button
          class="submit-button"
          [disabled]="storageForm.invalid"
          *ngIf="orderService.abilityToConfirmOrder"
          (click)="confirmOrderButtonClick()"
        >
          Confirm order
        </button>
      </div>

      <div class="form-error-container">
        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      *ngIf="orderService.abilityToUpdateOrder"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="delete-button"
      *ngIf="orderService.abilityToCancelOrder"
      (click)="cancelButtonClick()"
    >
      Cancel order
    </button>

    <button mat-raised-button class="cancel-button" (click)="onCloseClick()">
      Close
    </button>
  </div>
</div>
