@import "../../../../assets/scss/theme-colors.scss";
@import "../../../../assets/scss/global-sizes.scss";
@import "../../../../assets/scss/materials-override.scss";

::ng-deep .mat-dialog-container {
  background: $secondaryColor;
}
::ng-deep .mat-expansion-panel {
  background: $backgroundColor;
  color: $textColor;
}
::ng-deep .mat-expansion-panel-header-title {
  color: $textColor;
}

.property-name {
  color: $mainColor;
}

.property-info {
  color: $textColor;
}

table {
  background-color: $secondaryColor;
  width: 100%;
  color: $textColor;
}

.form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-error-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

::ng-deep .submit-button {
  background: $mainColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .delete-button {
  background: $errorColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .cancel-button {
  background: $firstPlaceColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}

::ng-deep .mardin-top {
  margin-top: 5%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundColor;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

mat-form-field {
  width: 100%;
}
