<div class="container">
    <h1 mat-dialog-title class="property-info">Made products details</h1>
    <div mat-dialog-content>
    <span class="property-name">Name:</span>
    <span class="property-info"> {{product.product.productName}}</span><br/>
    <span class="property-name">Weight:</span>
    <span class="property-info"> {{product.product.weight}} {{product.product.measureName}}</span><br/>
    <span class="property-name">Date of manufacture:</span>
    <span class="property-info"> {{product.dateOfManufacture | date : 'dd.MM.yyyy HH:mm' }}</span><br/>
    <span class="property-name">Exspiration term:</span>
    <span class="property-info"> {{product.product.expirationTerm}}</span><br/>
    <span class="property-name">Description:</span>
    <span class="property-info"> {{product.product.desctiption}}</span><br/>
    <span class="property-name">Amount:</span>
    <span class="property-info"> {{product.amount}}</span><br/>
    <span class="property-name">Storage address:</span>
    <span class="property-info">{{product.storageAddress.country}}, {{product.storageAddress.city}}, 
        {{product.storageAddress.street}} street, {{product.storageAddress.houseNumber}}</span><br/>
    <br/>
    </div>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button
         class="delete-button" 
         (click)="deleteButtonClick()"
         >Delete</button>
    
        <button mat-raised-button 
        class="cancel-button" 
        (click)="onCloseClick()"
        >Close</button>
    </div>
</div>