<div class="container">
    <h1 mat-dialog-title class="property-info">Raw staff on storage details</h1>
    <div mat-dialog-content>
    <span class="property-name">Name:</span>
    <span class="property-info"> {{rawStaff.rawStaff.name}}</span><br/>
    <span class="property-name">Amount:</span>
    <span class="property-info"> {{rawStaff.amount}} {{rawStaff.rawStaff.measureName}}</span><br/>
    <span class="property-name">Consume until:</span>
    <span class="property-info"> {{rawStaff.consumeUntil | date : 'dd.MM.yyyy HH:mm' }}</span><br/>
    <span class="property-name">Exspiration term (days):</span>
    <span class="property-info"> {{rawStaff.rawStaff.expirationDate}}</span><br/>
    <span class="property-name">Storage address:</span>
    <span class="property-info">{{rawStaff.storageAddress.country}}, {{rawStaff.storageAddress.city}}, 
        {{rawStaff.storageAddress.street}} street, {{rawStaff.storageAddress.houseNumber}}</span><br/>
    <br/>
    </div>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button
         class="delete-button" 
         (click)="deleteButtonClick()"
         >Delete</button>
    
        <button mat-raised-button 
        class="cancel-button" 
        (click)="onCloseClick()"
        >Close</button>
    </div>
</div>