<div class = "container">
    <form class="example-form" (keydown.enter)="$event.preventDefault()" [formGroup]="logInForm"
onSubmit="return false;">
    <mat-card class="margin-top mat-card-background">

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Username</mat-label>
 
    <mat-error *ngIf="logInForm.get('userName').errors?.required">
        Username is required
      </mat-error>
      <mat-error *ngIf="logInForm.get('userName').errors?.maxlength">
        Username must be 128 characters or fewer
      </mat-error>
 
      <input matInput autocomplete="off" class="input-color" formControlName="userName">
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Password</mat-label>

    <mat-error *ngIf="logInForm.get('password').errors?.required">
        Password is required
      </mat-error>
      <mat-error *ngIf="logInForm.get('password').errors?.pattern">
        Password must be 128 characters or fewers
      </mat-error>

    <input matInput type="password" class="input-color" formControlName="password"> 
  </mat-form-field>
  <h2 *ngIf="isError" style="color:red">Wrong username or password</h2>
  <div class="form-buttons-container">
    <button mat-raised-button
     class="submit-button" 
     [disabled]="logInForm.invalid"
     (click)="logIn()"
     >Log in</button>

</div> 
    </mat-card>
</form>
</div>
