@import "../../../assets/scss/theme-colors.scss";
@import "../../../assets/scss/global-sizes.scss";
@import "../../../assets/scss/materials-override.scss";

.header-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  height: $headerHeight;
  padding: 0 2vmin;
  background-color: $secondaryColor;

  .button-logo-container {
    display: flex;
    align-items: center;
    .logo {
      color: $textColor;
      font-size: 2vmin;
    }
  }

  .pages-container {
    display: flex;
    height: 100%;

    .nav-button {
      color: $textColor;
    }
  }

  .profile-container {
    display: flex;
    align-items: center;
    position: sticky;
    right: 0;
    background: $secondaryColor;
    transform: translateX(15px);
    z-index: 1;
    .user-avatar {
      width: 4vmin;
      height: 4vmin;
      font-size: 2vmin;
    }

    .user-name {
      padding-left: 1vmin;
      color: $textColor;
      font-size: 2vmin;
      font-weight: lighter;
    }

    .expand-profile-details-button {
      font-size: 3vmin;
      font-weight: lighter;
      width: 3vmin;
      height: 3vmin;
      cursor: pointer;
      user-select: none;
    }
  }
}

:ng-deep mat-divider {
  background: $secondaryColor;
  color: $secondaryColor;
}

::ng-deep .mat-menu-content {
  background: $secondaryColor;
  button {
    color: $textColor;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundColor;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
