<mat-toolbar class="header-container" color="primary">
    <div class="button-logo-container">
      <span class="logo">Bakery</span>
    </div>
  
    <div class="pages-container">
      <nav mat-tab-nav-bar>
        <a mat-tab-link 
          *ngFor="let link of currentRouts" 
          [routerLink]="link.routePath" 
          routerLinkActive="active-page" 
          #routerLink="routerLinkActive"
          [active]="routerLink.isActive" 
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-button"> 
          {{ link.routeName }} 
        </a>
      </nav>
    </div>
    <div class="profile-container">
      
      <span class="user-name">{{auth.user.userName}}</span>
  
      <mat-icon class="expand-profile-details-button" 
        [matMenuTriggerFor]="profileMenu" 
        aria-label="Expand profile">
        arrow_drop_down
      </mat-icon>
  
      <mat-menu class="dark-menu" #profileMenu="matMenu">
  
        <button mat-menu-item *ngIf="auth.user.role == 0" (click)="registerUser()">Add user</button>

        <mat-divider *ngIf="auth.user.role == 0"></mat-divider>
        
        <button mat-menu-item (click)="logOut()">Log out</button>
      </mat-menu>
    </div>
  </mat-toolbar>
