<table mat-table [dataSource]="measureService.measureList"  class="mat-elevation-z8">

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element" > {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="partOfKg">
      <th mat-header-cell *matHeaderCellDef > Part of kg </th>
      <td mat-cell *matCellDef="let element" > {{element.partOfKg}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="getRow(row)" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>