
<div class="container">
    <h1 mat-dialog-title class="property-info">{{rawStaff.rawStaff.name}} removing </h1>
    <div mat-dialog-content>
        <form class="example-form" (keydown.enter)="$event.preventDefault()" [formGroup]="deleteRawStaffOnStorageForm"
onSubmit="return false;">
    <mat-card class="margin-top mat-card-background">

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Reason to remove</mat-label>
 
    <mat-error *ngIf="deleteRawStaffOnStorageForm.get('reasonToRemove').errors?.required">
        Reason to remove is required
       </mat-error>
       <mat-error *ngIf="deleteRawStaffOnStorageForm.get('reasonToRemove').errors?.maxlength">
        Reason to remove must be 20 characters or fewer
       </mat-error>
 
      <input matInput class="input-color" formControlName="reasonToRemove">
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Amout</mat-label>

    <mat-error *ngIf="deleteRawStaffOnStorageForm.get('amount').errors?.required">
        Amount is required
       </mat-error>

    <input matInput type='number' class="input-color" formControlName="amount"> 
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Employee </mat-label>
      
        <mat-select class="input-color" formControlName="employeeId">
          <mat-option  *ngFor="let employee of rawStaffOnStorageService.employeeSelect" [value]="employee.idEmployee">
           {{employee.surname}} {{employee.name}} -
           {{employee.position.positionName}}
          </mat-option>
        </mat-select>
  </mat-form-field>
</mat-card>

<h2 *ngIf="isRawStaffNotEnough" style="color:red">You can remove only {{rawStaff.amount}} raw staff</h2>
<div class="form-buttons-container">
    <button mat-raised-button
     class="submit-button" 
     [disabled]="deleteRawStaffOnStorageForm.invalid || isRawStaffNotEnough"
     (click)="removeProductOnStorage()"
     >Remove from storage</button>

    <button mat-raised-button 
    class="cancel-button" 
    (click)="cancelButtonClick()"
    >Cancel</button>
</div>
</form>
</div>
</div>
