<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-product-on-storage-form></app-product-on-storage-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-product-on-storage-list></app-product-on-storage-list> 
    </mat-card>
</div>