@import "../../../../assets/scss/theme-colors.scss";
@import "../../../../assets/scss/global-sizes.scss";
@import "../../../../assets/scss/materials-override.scss";

table {
  background-color: $secondaryColor;
  width: 100%;
  color: $textColor;
}
.mat-card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  height: calc(100vh - #{$headerHeight});
  width: 100%;
  background: $backdropColorDark;
}

.outlay-header {
  background-color: $secondaryColor;
  color: $textColor;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 15px 24px;
  div {
    margin-right: 16px;
  }
  .outlay-column {
    flex-grow: 2;
  }
  .period-column {
    flex-grow: 1;
  }
  .salary-checkbox {
    position: absolute;
    right: 0;
    transform: translateX(-50px);
  }
}
.employees-table {
  margin-top: 10px;
}
.list {
  flex-grow: 3;
  width: 70%;
  overflow: auto;
}

.mat-card {
  background: $backgroundColor;
  margin: 3px;
  padding: 8px !important;
}
::ng-deep .mat-footer-cell {
  color: $textColor;
  padding: 0px 20px !important;
  font-weight: bold;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundColor;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondaryColor;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-expansion-panel {
  background: $secondaryColor;
  color: $textColor;
}
::ng-deep .mat-expansion-panel-header-title {
  color: $textColor;
}

::ng-deep .mat-expansion-panel-header-description {
  color: white;
}

::ng-deep .mat-expansion-indicator::after {
  color: white;
}
