<div class="mat-card-container">
    <mat-card class="mat-card list">
      <span class="outlay-header">
        <div class="period-column">
          <b>
            Period
          </b>
        </div>
  
        <div class="outlay-column">
          <b>
            Outley
          </b>
        </div>
        <mat-checkbox class="example-margin salary-checkbox" [(ngModel)]="checked"
          >Include salaries</mat-checkbox
        >
      </span>
  
      <mat-expansion-panel *ngFor="let outlayItem of financeService.outlay">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ outlayItem.month }}
          </mat-panel-title>
          <mat-panel-description *ngIf="!checked; else totalOutlayWithSalary">
            {{ -outlayItem.totalOutlay }}
          </mat-panel-description>
          <ng-template #totalOutlayWithSalary>
            <mat-panel-description *ngIf="checked">
              {{ -outlayItem.totalOutlayWithSalary }}
            </mat-panel-description>
          </ng-template>
        </mat-expansion-panel-header>
  
        <table
          mat-table
          [dataSource]="outlayItem.orders"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="idOrder">
            <th mat-header-cell *matHeaderCellDef>
              Order No
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.idOrder }}
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>
          <ng-container matColumnDef="supplierName">
            <th mat-header-cell *matHeaderCellDef>
              Supplier
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.supplier.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef>Outley</th>
            <td mat-cell *matCellDef="let element">{{ -element.totalPrice }}</td>
            <td mat-footer-cell *matFooterCellDef>
              {{ -outlayItem.totalOutlay }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.time | date: "dd.MM.yyyy HH:mm" }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            (click)="getRow(row)"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
  
        <table
          mat-table
          [dataSource]="outlayItem.employees"
          class="mat-elevation-z8 employees-table"
          *ngIf="checked"
        >
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Name
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
            <td mat-footer-cell *matFooterCellDef>Total</td>
          </ng-container>
          <ng-container matColumnDef="surname">
            <th mat-header-cell *matHeaderCellDef>
              Surname
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.surname }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef>Outley</th>
            <td mat-cell *matCellDef="let element">
              {{ -element.position.salary }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              {{ -(outlayItem.totalOutlayWithSalary-outlayItem.totalOutlay) }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Position</th>
            <td mat-cell *matCellDef="let element">
              {{ element.position.positionName }}
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedEmployeeColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedEmployeeColumns"
          ></tr>
          <tr mat-footer-row *matFooterRowDef="displayedEmployeeColumns"></tr>
        </table>
      </mat-expansion-panel>
    </mat-card>
  </div>
  