@import '../../../../assets/scss/theme-colors.scss';
@import '../../../../assets/scss/global-sizes.scss';
@import '../../../../assets/scss/materials-override.scss';
.mat-card-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: calc(100vh - #{$headerHeight});
    width: 100%;
    background: $backdropColorDark;
}
.list{ 
    overflow: auto;
}
::ng-deep .mat-card-remove{
    background: $backgroundColor;
    margin:3px;
    width: 100%;
    padding:8px !important;
}
table{
    background-color: $secondaryColor;
    width: 100%;
    color: $textColor;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  $backgroundColor;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondaryColor;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  