<div class="mat-card-container">
<mat-card class="mat-card-remove list">
<table mat-table [dataSource]="this.productOnStorageService.removedProductsList"  class="mat-elevation-z8">

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element" > {{element.product.productName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef > Amount </th>
      <td mat-cell *matCellDef="let element" > {{element.amount}} </td>
    </ng-container>
  
    <ng-container matColumnDef="reasonToRemove">
      <th mat-header-cell *matHeaderCellDef > Reason to remove </th>
      <td mat-cell *matCellDef="let element" > {{element.reasonToRemove}} </td>
    </ng-container>
  
    <ng-container matColumnDef="removingDate">
      <th mat-header-cell *matHeaderCellDef > Removing date </th>
      <td mat-cell *matCellDef="let element" > {{element.removingDate | date : 'dd.MM.yyyy HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="removedBy">
      <th mat-header-cell *matHeaderCellDef > Removed by </th>
      <td mat-cell *matCellDef="let element" > {{element.employee.name}} {{element.employee.surname}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
  </mat-card>
  </div>
