<div class="container">
    <h1 mat-dialog-title class="property-info">Product details</h1>
    <div mat-dialog-content>
    <span class="property-name">Name:</span>
    <span class="property-info"> {{product.productName}}</span><br/>
    <span class="property-name">Weight:</span>
    <span class="property-info"> {{product.weight}} {{product.measureName}}</span><br/>
    <span class="property-name">Price:</span>
    <span class="property-info"> {{product.price}}</span><br/>
    <span class="property-name">Price for sale:</span>
    <span class="property-info"> {{(product.price * (product.markUp+1)).toFixed(2)}}</span><br/>
    <span class="property-name">Exspiration term:</span>
    <span class="property-info"> {{product.expirationTerm}}</span><br/>
    <span class="property-name">Description:</span>
    <span class="property-info"> {{product.desctiption}}</span><br/>
    <br/>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ingredients
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <table mat-table [dataSource]="productService.ingredientsList"  class="mat-elevation-z8">

            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="rawStaffName">
                <th mat-header-cell *matHeaderCellDef > Raw Staff </th>
                <td mat-cell *matCellDef="let element" > {{element.rawStaffName}} </td>
              </ng-container>

            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef > Weight </th>
              <td mat-cell *matCellDef="let element" > {{element.weight}} </td>
            </ng-container>
          
            <ng-container matColumnDef="measure">
              <th mat-header-cell *matHeaderCellDef > Measure </th>
              <td mat-cell *matCellDef="let element" > {{element.measureName}} </td>
            </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr  mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
    
      </mat-expansion-panel>

    </div>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button 
        class="submit-button" 
        (click)="updateButtonClick()"
        >Update</button>
    
        <button mat-raised-button
         class="delete-button" 
         (click)="deleteButtonClick()"
         >Delete</button>
    
        <button mat-raised-button 
        class="cancel-button" 
        (click)="onCloseClick()"
        >Close</button>
    </div>
</div>
