<table mat-table [dataSource]="productOnStorageService.productOnStorageList"  class="mat-elevation-z8">

    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element" > {{element.product.productName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef > Weight </th>
      <td mat-cell *matCellDef="let element" > {{element.product.weight}} </td>
    </ng-container>
  
    <ng-container matColumnDef="measure">
      <th mat-header-cell *matHeaderCellDef > Measure </th>
      <td mat-cell *matCellDef="let element" > {{element.product.measureName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef > Amount </th>
      <td mat-cell *matCellDef="let element" > {{element.amount}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="getRow(row)" mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
