<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-product-order-form></app-product-order-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-products-orders-list></app-products-orders-list> 
    </mat-card>
</div>
