<div class="container">
    <h1 mat-dialog-title class="property-info">Order details</h1>
    <div mat-dialog-content>
    <span class="property-name">Name:</span>
    <span class="property-info"> {{order.customer.name}}</span><br/>
    <span class="property-name">Price:</span>
    <span class="property-info"> {{order.totalPrice}}</span><br/>
    <span class="property-name">Date:</span>
    <span class="property-info"> {{order.time| date : 'dd.MM.yyyy HH:mm'}}</span><br/>
    <span class="property-name">Status:</span>
    <span class="property-info"> {{order.status}}</span><br/>
    <br/>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Order items:
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <table mat-table [dataSource]="orderService.orderItemsList"  class="mat-elevation-z8">

            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef > Product </th>
                <td mat-cell *matCellDef="let element" > {{element.product.productName}} </td>
              </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef > Amount </th>
              <td mat-cell *matCellDef="let element" > {{element.amount}} </td>
            </ng-container>
          
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef > Price </th>
              <td mat-cell *matCellDef="let element" > {{element.amount}}x{{(element.product.price*(element.product.markUp+1)).toFixed(2)}}={{((element.product.price*(element.product.markUp+1)).toFixed(2)*element.amount).toFixed(2)}} </td>
            </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr  mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
    
      </mat-expansion-panel>
      <mat-expansion-panel  *ngIf="orderService.isOrderInProgress">
        <mat-expansion-panel-header>
          <mat-panel-title>
           Action buttons:
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div mat-dialog-actions class="form-buttons-container">
            <button mat-raised-button 
            class="submit-button" 
            (click)="executeOrderButtonClick()"
            >Execute order</button>

            <button mat-raised-button
         class="delete-button" 
         *ngIf="orderService.isOrderInProgress"
         (click)="cancelButtonClick()"
         >Cancel order</button>
        
        </div>
    </mat-expansion-panel>

    </div>
    <h2 *ngIf="isProductNotEnough" style="color:red">Not enough products on storage</h2>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button 
        class="submit-button" 
        *ngIf="orderService.isOrderInProgress"
        (click)="updateButtonClick()"
        >Update</button>
    
        <button mat-raised-button 
        class="cancel-button" 
        (click)="onCloseClick()"
        >Close</button>
    </div>
    
</div>
