<form class="example-form" (keydown.enter)="$event.preventDefault()" [formGroup]="createProductOnStorageForm"
onSubmit="return false;" autocomplete="off">
    <mat-card class="margin-top mat-card-background">

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Product name</mat-label>
 
    <mat-error *ngIf="createProductOnStorageForm.get('productName').errors?.required">
        Product name is required
       </mat-error>
       <mat-error *ngIf="createProductOnStorageForm.get('productName').errors?.maxlength">
        Product name must be 20 characters or fewer
       </mat-error>
 
      <input matInput class="input-color" formControlName="productName" [matAutocomplete]=auto>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of productOnStorageService.productAutocomplete; let i = index" 
        [value]="option.productName" (click)="autocompleteProductClick(i)">
          {{option.productName}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Amout</mat-label>

    <mat-error *ngIf="createProductOnStorageForm.get('amount').errors?.required">
        Amount is required
       </mat-error>

    <input matInput type='number' class="input-color" formControlName="amount"> 
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Storage</mat-label>
      
        <mat-select class="input-color" formControlName="storageId">
          <mat-option  *ngFor="let storage of productOnStorageService.storageSelect" [value]="storage.idStorage">
           {{storage.address.country}},{{storage.address.city}}, 
            {{storage.address.street}} street,{{storage.address.houseNumber}}
          </mat-option>
        </mat-select>
  </mat-form-field>
</mat-card>
  <input type="hidden" formControlName="productId"> 

<div class="form-buttons-container">
    <button mat-raised-button
     class="submit-button" 
     [disabled]="createProductOnStorageForm.invalid"
     (click)="createProductOnStorage()"
     >Add</button>

    <button mat-raised-button 
    class="cancel-button" 
    (click)="cancelButtonClick()"
    >Cancel</button>
</div>
</form>
