<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-supplier-form></app-supplier-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-suppliers-list></app-suppliers-list> 
    </mat-card>
</div>
