<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-customer-form></app-customer-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-customers-list></app-customers-list> 
    </mat-card>
</div>
