<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-measure-form></app-measure-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-measures-list></app-measures-list> 
    </mat-card>
</div>
