@import '../../../../assets/scss/theme-colors.scss';
@import '../../../../assets/scss/global-sizes.scss';
@import '../../../../assets/scss/materials-override.scss';

.mat-card-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    height: calc(100vh - #{$headerHeight});
    width: 100%;
    background: $backdropColorDark;
}
.list{
    flex-grow: 3;
    width: 70%;
    overflow: auto;
}
.form{
    flex-grow: 1;
    width: 30%;
    overflow: auto;
}
::ng-deep .mat-card{
    background: $backgroundColor;
    margin:3px;
    padding:8px !important;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  $backgroundColor;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondaryColor;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }