<div class="not-found-page-container">
  <div>
    <p>
      Houston, We have a problem
    </p>

    <div>
      <p class="error-number">404</p>
      <p>PAGE NOT FOUND</p>
    </div>

    <button mat-button (click)="navigateToMainPage()">TO THE MAIN PAGE</button>
  </div>

  <img src="../../assets/images/not-found-funny-image.png"/>
</div>
