@import '../../../assets/scss/theme-colors.scss';
@import '../../../assets/scss/global-sizes.scss';
@import '../../../assets/scss/materials-override.scss';

.not-found-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $secondaryColor;

  div {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    color: $mainColor;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;

    div {
      padding-top: 0px;

      p {
        font-size: 20px;
      }

      .error-number {
        font-size: 80px;
        margin: 20px;
        padding-right: 8px;
      }
    }
  }

  button {
    background-color: $mainColor;
    border-radius: 35px;
    color: $textColor;
    font-size: 15px;
    padding: 5px;
    width: 100%;
  }

  img {
    width: 20%;
    flex-grow: 1;
    object-fit: contain;
    object-position: bottom;
  }
}



@media (max-width: 991px) {
  .not-found-page-container {
    div {
      font-size: 20px;

      div {
        padding-top: 0px;

        p {
          font-size: 20px;
        }

        .error-number {
          font-size: 100px;
        }
      }
    }

    button {
      font-size: 15px;
    }

    img {
      width: 50%;
    }
  }
}
