<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createEmployeeForm"
  autocomplete="off"
  onSubmit="return false;"
>
  <mat-card class="margin-top mat-card-background">
    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Name</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('name').errors?.required">
        Employee name is required
      </mat-error>
      <mat-error *ngIf="createEmployeeForm.get('name').errors?.maxlength">
        Employee name must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Surname</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('surname').errors?.required">
        Employee surname is required
      </mat-error>
      <mat-error *ngIf="createEmployeeForm.get('surname').errors?.maxlength">
        Employee surname must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="surname" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Phone number</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('phoneNumber').errors?.required">
        Phone number is required
      </mat-error>
      <mat-error
        *ngIf="createEmployeeForm.get('phoneNumber').errors?.maxlength"
      >
        Phone number name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        type="tel"
        class="input-color"
        formControlName="phoneNumber"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Experience</mat-label>

      <input matInput class="input-color" formControlName="experience" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Position</mat-label>

      <mat-select required class="input-color" formControlName="position">
        <mat-option
          class="select-dark"
          *ngFor="let position of positionsService.positionList"
          [value]="position.idPosition"
        >
          {{ position.positionName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="margin-top mat-card-background">
    <mat-card-title>Address</mat-card-title>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Country</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('country').errors?.required">
        Country is required
      </mat-error>
      <mat-error *ngIf="createEmployeeForm.get('country').errors?.maxlength">
        Contry name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="country"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">City</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('city').errors?.required">
        City is required
      </mat-error>
      <mat-error *ngIf="createEmployeeForm.get('city').errors?.maxlength">
        City name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="city"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Street</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('street').errors?.required">
        Street is required
      </mat-error>
      <mat-error *ngIf="createEmployeeForm.get('street').errors?.maxlength">
        Street name must be 20 characters or fewer
      </mat-error>

      <input
        matInput
        class="input-color"
        formControlName="street"
        autocomplete="nope"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">House number</mat-label>

      <mat-error *ngIf="createEmployeeForm.get('houseNumber').errors?.required">
        House number is required
      </mat-error>

      <input
        matInput
        class="input-color"
        type="number"
        formControlName="houseNumber"
        autocomplete="nope"
      />
    </mat-form-field>
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createEmployeeForm.invalid"
      *ngIf="employeesService.employeeToUpdate == null"
      (click)="createCustomer()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createEmployeeForm.invalid"
      *ngIf="employeesService.employeeToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="delete-button"
      *ngIf="employeesService.employeeToUpdate != null"
      (click)="deleteButtonClick()"
    >
      Delete
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
