@import "../../../../assets/scss/theme-colors.scss";
@import "../../../../assets/scss/global-sizes.scss";
@import "../../../../assets/scss/materials-override.scss";

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1em !important;
}
.example-full-width {
  width: 100%;
}
.margin-top {
  margin-top: 5px;
}

::ng-deep .mat-card-background {
  background: $secondaryColor;
}
::ng-deep .input-color {
  color: $textColor;
}

.form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
::ng-deep .submit-button {
  background: $mainColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .delete-button {
  background: $errorColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .cancel-button {
  background: $firstPlaceColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .mat-card-title {
  color: $textColor;
}

//select override
::ng-deep .mat-select {
  color: $mainColor;

  ::ng-deep .mat-option {
    background-color: $secondaryColor;
  }

  ::ng-deep .mat-select-panel .mat-option.mat-selected {
    background-color: $secondaryColor;
  }

  ::ng-deep .mat-focused.mat-primary .mat-select-arrow {
    color: $textColor;
  }

  ::ng-deep .mat-select-arrow {
    color: $textColor !important;
  }

  ::ng-deep .mat-select-value {
    color: white !important;
  }

  ::ng-deep .mat-select-value-text {
    color: white !important;
  }
}

.select-dark {
  color: $textColor;
  background-color: $secondaryColor;
}

::ng-deep .mat-selected .mat-active {
  color: $secondaryColor;
  background-color: $textColor;
}
