<table
  mat-table
  [dataSource]="rawStaffOnStorageService.rawStaffOnStorageList"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Num.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="rawStaffName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.rawStaff.name }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>

  <ng-container matColumnDef="measure">
    <th mat-header-cell *matHeaderCellDef>Measure</th>
    <td mat-cell *matCellDef="let element">
      {{ element.rawStaff.measureName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="consumeUntil">
    <th mat-header-cell *matHeaderCellDef>Counsume Until</th>
    <td mat-cell *matCellDef="let element">
      {{ this.datepipe.transform(element.consumeUntil, "yyyy/MM/dd") }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    (click)="getRow(row)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
