<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-employee-form></app-employee-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-employees-list></app-employees-list> 
    </mat-card>
</div>
