<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createRawStaffForm"
  onSubmit="return false;"
>
  <mat-card class="margin-top mat-card-background">
    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Name</mat-label>

      <mat-error *ngIf="createRawStaffForm.get('name').errors?.required">
        Raw Staff name is required
      </mat-error>
      <mat-error *ngIf="createRawStaffForm.get('name').errors?.maxlength">
        Raw Staff name must be 20 characters or fewer
      </mat-error>

      <input matInput class="input-color" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Expiration date</mat-label>

      <mat-error
        *ngIf="createRawStaffForm.get('expirationDate').errors?.required"
      >
        Expiration term is required
      </mat-error>

      <input
        matInput
        type="number"
        class="input-color"
        formControlName="expirationDate"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Price per measure</mat-label>

      <mat-error
        *ngIf="createRawStaffForm.get('pricePerMeasure').errors?.required"
      >
        Price per measure is required
      </mat-error>
      <mat-error
        *ngIf="createRawStaffForm.get('pricePerMeasure').errors?.pattern"
      >
        Price per measure must contain decimal fractions
      </mat-error>

      <input
        matInput
        type="number"
        class="input-color"
        formControlName="pricePerMeasure"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Measure</mat-label>

      <mat-select required class="input-color" formControlName="idMeasure">
        <mat-option
          class="select-dark"
          *ngFor="let measure of measureService.measureList"
          [value]="measure.idMeasure"
        >
          {{ measure.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createRawStaffForm.invalid"
      *ngIf="rawStaffService.rawStaffToUpdate == null"
      (click)="createRawStaff()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createRawStaffForm.invalid"
      *ngIf="rawStaffService.rawStaffToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="delete-button"
      *ngIf="rawStaffService.rawStaffToUpdate != null"
      (click)="deleteButtonClick()"
    >
      Delete
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
