<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createOrderForm"
  onSubmit="return false;"
  autocomplete="off"
>
  <mat-card class="margin-top mat-card-background">
    <mat-label class="input-color">Customer </mat-label>
      
    <mat-select class="input-color" formControlName="idCustomer" >
      <mat-option  *ngFor="let customer of orderService.customerSelect" [value]="customer.idCustomer">
       {{customer.name}}
      </mat-option>
    </mat-select>
  </mat-card>

  <mat-card class="margin-top mat-card-background">
    <mat-card-title>Order items</mat-card-title>

    <div
      formArrayName="orderItems"
      *ngFor="
        let item of createOrderForm.get('orderItems').controls;
        let i = index
      "
    >
      <div [formGroupName]="i">
        <div class="button-delete-container">
          <mat-icon class="delete-stop-button" (click)="deleteOrderItem(i)"
            >clear</mat-icon
          >
        </div>
        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Product</mat-label>

          <mat-error *ngIf="item.get('product').errors?.required">
            Product name is required
          </mat-error>
          <mat-error *ngIf="item.get('product').errors?.maxlength">
            Product name must be 20 characters or fewer
          </mat-error>

          <input
            matInput
            class="input-color"
            formControlName="product"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="
                let option of orderService.productAutocomplete;
                let j = index
              "
              [value]="option.productName"
              (click)="autocompleteProductsClick(i, j)"
            >
              {{ option.productName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Amount</mat-label>
          <mat-error *ngIf="item.get('amount').errors?.required">
            Amount is required
          </mat-error>

          <input matInput type="number" class="input-color" formControlName="amount" />
        </mat-form-field>

        <input type="hidden" formControlName="idProduct" />
        <mat-divider></mat-divider>
      </div>
    </div>
    <mat-icon class="add-button" (click)="addOrderItem()"
      >add_circle_outline</mat-icon
    >
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createOrderForm.invalid"
      *ngIf="orderService.orderToUpdate == null"
      (click)="createOrder()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createOrderForm.invalid"
      *ngIf="orderService.orderToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
