<table
  mat-table
  [dataSource]="rawStaffService.rawStaffList"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Num.</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="rawStaffName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="expirationDate">
    <th mat-header-cell *matHeaderCellDef>Expiration date(days)</th>
    <td mat-cell *matCellDef="let element">{{ element.expirationDate }}</td>
  </ng-container>

  <ng-container matColumnDef="pricePerMeasure">
    <th mat-header-cell *matHeaderCellDef>Price per measure</th>
    <td mat-cell *matCellDef="let element">{{ element.pricePerMeasure }}</td>
  </ng-container>

  <ng-container matColumnDef="measureName">
    <th mat-header-cell *matHeaderCellDef>Measure</th>
    <td mat-cell *matCellDef="let element">{{ element.measureName }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    (click)="getRow(row)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
  ></tr>
</table>
