<div class="mat-card-container">
    <mat-card class="mat-card form">
        <app-products-form></app-products-form>
    </mat-card>

    <mat-card class="mat-card list">
        <app-products-list></app-products-list> 
    </mat-card>
</div>

