<div class="mat-card-container">
  <mat-card class="mat-card list">
    <span class="outlay-header">
      <div class="period-column">
        <b>
          Period
        </b>
      </div>

      <div class="full-income-column">
        <b>
          Full Income
        </b>
      </div>
      <div class="net-income-column">
        <b>
          Net Income
        </b>
      </div>
    </span>

    <mat-expansion-panel *ngFor="let incomesItem of financeService.incomes">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ incomesItem.month }}
        </mat-panel-title>
        <mat-panel-description>
          <div class="incomes">
            <div class="full-income">
              {{ incomesItem.fullIncomes }}
            </div>
            <div class="net-income">
              {{ incomesItem.netIncome }}
            </div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table
        mat-table
        [dataSource]="incomesItem.orders"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="idOrder">
          <th mat-header-cell *matHeaderCellDef>
            Order No
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.idOrder }}
          </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>
            Customer
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.customer.name }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef>Income</th>
          <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
          <td mat-footer-cell *matFooterCellDef>
            {{ incomesItem.fullIncomes }}
          </td>
        </ng-container>

        <ng-container matColumnDef="netIncome">
            <th mat-header-cell *matHeaderCellDef>Net Income</th>
            <td mat-cell *matCellDef="let element">{{ element.netIncome }}</td>
            <td mat-footer-cell *matFooterCellDef>
              {{ incomesItem.netIncome }}
            </td>
          </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.time | date: "dd.MM.yyyy HH:mm" }}
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          (click)="getRow(row)"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </mat-expansion-panel>
  </mat-card>
</div>
