@import '../../../../assets/scss/theme-colors.scss';
@import '../../../../assets/scss/global-sizes.scss';
@import '../../../../assets/scss/materials-override.scss';


  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em !important;
}
  .example-full-width {
    width: 100%;
  }
  .margin-top{
      margin-top: 5px;
  }
  

  ::ng-deep .mat-card-background{
      background: $secondaryColor;
  }
  ::ng-deep .input-color{
      color:$textColor;
  }

  .form-buttons-container{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }
  ::ng-deep .submit-button{
        background: $mainColor;
        color: $textColor;
        margin:2px;  
        font-size: large;
  }
::ng-deep .delete-button{
    background: $errorColor;
    color: $textColor;
    margin:2px;  
    font-size: large;
}
::ng-deep .cancel-button{
    background: $firstPlaceColor;
    color: $textColor;
    margin:2px;  
    font-size: large;
}
  ::ng-deep .mat-card-title{
      color: $textColor;
  }
  