<form class="example-form" (keydown.enter)="$event.preventDefault()" [formGroup]="createCustomerForm"
onSubmit="return false;" autocomplete="off">
    <mat-card class="margin-top mat-card-background">

  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Customer name</mat-label>
 
    <mat-error *ngIf="createCustomerForm.get('customerName').errors?.required">
        Customer name is required
       </mat-error>
       <mat-error *ngIf="createCustomerForm.get('customerName').errors?.maxlength">
         Customer name must be 13 characters or fewer
       </mat-error>
 
      <input matInput class="input-color" formControlName="customerName">
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Phone number</mat-label>

    <mat-error *ngIf="createCustomerForm.get('phoneNumber').errors?.required">
        Phone number is required
       </mat-error>
       <mat-error *ngIf="createCustomerForm.get('phoneNumber').errors?.maxlength">
        Phone number name must be 20 characters or fewer
       </mat-error>

    <input matInput type='tel' class="input-color" formControlName="phoneNumber"> 
  </mat-form-field>
</mat-card>
  
<mat-card class="margin-top mat-card-background">
    <mat-card-title>Address</mat-card-title>

    <mat-form-field class="example-full-width">

        <mat-label class="input-color">Country</mat-label>

        <mat-error *ngIf="createCustomerForm.get('country').errors?.required">
            Country is required
           </mat-error>
           <mat-error *ngIf="createCustomerForm.get('country').errors?.maxlength">
           Contry name must be 20 characters or fewer
           </mat-error>

        <input matInput class="input-color" formControlName="country"> 
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">City</mat-label>
  
    <mat-error *ngIf="createCustomerForm.get('city').errors?.required">
        City is required
       </mat-error>
       <mat-error *ngIf="createCustomerForm.get('city').errors?.maxlength">
        City name must be 20 characters or fewer
       </mat-error>
 
    <input matInput class="input-color" formControlName="city"> 
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">Street</mat-label>
 
    <mat-error *ngIf="createCustomerForm.get('street').errors?.required">
        Street is required
       </mat-error>
       <mat-error *ngIf="createCustomerForm.get('street').errors?.maxlength">
        Street name must be 20 characters or fewer
       </mat-error>
 
    <input matInput class="input-color" formControlName="street"> 
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-label class="input-color">House number</mat-label>
  
    <mat-error *ngIf="createCustomerForm.get('houseNumber').errors?.required">
        House number is required
       </mat-error>
       
  
    <input matInput class="input-color" type="number" formControlName="houseNumber"> 
  </mat-form-field>
</mat-card>

<div class="form-buttons-container">
    <button mat-raised-button
     class="submit-button" 
     [disabled]="createCustomerForm.invalid"
     *ngIf="customersService.customerToUpdate==null"
     (click)="createCustomer()"
     >Add</button>

    <button mat-raised-button 
    class="submit-button" 
    [disabled]="createCustomerForm.invalid"
    *ngIf="customersService.customerToUpdate!=null"
    (click)="updateButtonClick()"
    >Update</button>

    <button mat-raised-button
     class="delete-button" 
     *ngIf="customersService.customerToUpdate!=null"
     (click)="deleteButtonClick()"
     >Delete</button>

    <button mat-raised-button 
    class="cancel-button" 
    (click)="cancelButtonClick()"
    >Cancel</button>
</div>
</form>
