<div class="container">
    <h1 mat-dialog-title class="property-info">Creating product info</h1>
    <div mat-dialog-content>
        <table mat-table [dataSource]="productOnStorageService.neededRawStaffList"  class="mat-elevation-z8">

            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
                <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="rawStaffName">
                <th mat-header-cell *matHeaderCellDef > Raw Staff </th>
                <td mat-cell *matCellDef="let element" > {{element.rawStaffName}} </td>
              </ng-container>

            <ng-container matColumnDef="neededAmount">
              <th mat-header-cell *matHeaderCellDef > Needed weight </th>
              <td mat-cell *matCellDef="let element" > {{element.neededAmount}} </td>
            </ng-container>
          
            <ng-container matColumnDef="amountOnStorage">
              <th mat-header-cell *matHeaderCellDef > Weight on storage  </th>
              <td mat-cell *matCellDef="let element" > {{element.amountOnStorage}} </td>
            </ng-container>

            <ng-container matColumnDef="measure">
                <th mat-header-cell *matHeaderCellDef > measure  </th>
                <td mat-cell *matCellDef="let element" > kg </td>
              </ng-container>
          
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr  mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
          </table>
          <h3  class="property-info" *ngIf="minAmount<product.amount">Not enough raw staff. You can create {{minAmount}} products</h3>
    </div>
    <div mat-dialog-actions class="form-buttons-container">
        <button mat-raised-button 
        class="submit-button" 
        (click)="createButtonClick()"
        [disabled] = "minAmount===0"
        >{{createString}}</button>

        <button mat-raised-button 
        class="cancel-button" 
        (click)="onCloseClick()"
        >Close</button>
    </div>
</div>
