<form
  class="example-form"
  (keydown.enter)="$event.preventDefault()"
  [formGroup]="createOrderForm"
  autocomplete="off"
  onSubmit="return false;"
>
  <mat-card class="margin-top mat-card-background">
    <mat-form-field class="example-full-width">
      <mat-label class="input-color">Supplier </mat-label>

      <mat-select
        class="input-color"
        (selectionChange)="updateRawStaffList($event.value)"
        formControlName="idSupplier"
      >
        <mat-option
          *ngFor="let supplier of orderService.supplierSelect"
          [value]="supplier.idSupplier"
        >
          {{ supplier.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card class="margin-top mat-card-background">
    <mat-card-title>Order items</mat-card-title>

    <div
      formArrayName="orderItems"
      *ngFor="
        let item of createOrderForm.get('orderItems').controls;
        let i = index
      "
      class="order-item-form"
    >
      <div [formGroupName]="i">
        <div class="button-delete-container">
          <mat-icon class="delete-stop-button" (click)="deleteOrderItem(i)"
            >clear</mat-icon
          >
        </div>
        <mat-form-field class="example-full-width">
          <mat-label class="input-color">Raw Staff</mat-label>

          <mat-select required class="input-color" formControlName="rawStaff">
            <mat-option
              class="select-dark"
              *ngFor="let rawStaff of orderService.rawStaffList"
              [value]="rawStaff"
            >
              {{ rawStaff.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label
          class="input-color price-label"
          *ngIf="createOrderForm.value.orderItems[i].rawStaff != null"
          >Price:
          {{
            createOrderForm.value.orderItems[i].rawStaff.pricePerMeasure
          }}</mat-label
        >

        <mat-form-field
          class="example-full-width"
          *ngIf="createOrderForm.value.orderItems[i].rawStaff != null"
        >
          <mat-label class="input-color"
            >Amount ({{
              createOrderForm.value.orderItems[i].rawStaff.measureName
            }})</mat-label
          >
          <mat-error *ngIf="item.get('amount').errors?.required">
            Amount is required
          </mat-error>

          <input
            matInput
            tepy="number"
            class="input-color"
            formControlName="amount"
            (change)="calculateOrderTotalPrice()"
          />
        </mat-form-field>

        <div
          class="input-color price-label"
          *ngIf="
            createOrderForm.value.orderItems[i].rawStaff != null &&
            createOrderForm.value.orderItems[i].amount != null
          "
        >
          Total Price:
          {{
            createOrderForm.value.orderItems[i].rawStaff.pricePerMeasure *
              createOrderForm.value.orderItems[i].amount
          }}
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <mat-icon class="add-button" (click)="addOrderItem()"
      >add_circle_outline</mat-icon
    >
    <div class="input-color price-label" *ngIf="orderTotalPrice != null">
      Total Order Price:
      {{ orderTotalPrice }}
    </div>
  </mat-card>

  <div class="form-buttons-container">
    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createOrderForm.invalid"
      *ngIf="orderService.orderToUpdate == null"
      (click)="createOrder()"
    >
      Add
    </button>

    <button
      mat-raised-button
      class="submit-button"
      [disabled]="createOrderForm.invalid"
      *ngIf="orderService.orderToUpdate != null"
      (click)="updateButtonClick()"
    >
      Update
    </button>

    <button
      mat-raised-button
      class="cancel-button"
      (click)="cancelButtonClick()"
    >
      Cancel
    </button>
  </div>
</form>
