@import "../../../../assets/scss/theme-colors.scss";
@import "../../../../assets/scss/global-sizes.scss";
@import "../../../../assets/scss/materials-override.scss";

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 1em !important;
}
.example-full-width {
  width: 100%;
}
.margin-top {
  margin-top: 5px;
}

.price-label {
  padding-bottom: 15px;
}

::ng-deep .mat-card-background {
  background: $secondaryColor;
}
::ng-deep .input-color {
  color: $textColor;
}

.form-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
::ng-deep .submit-button {
  background: $mainColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .delete-button {
  background: $errorColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .cancel-button {
  background: $firstPlaceColor;
  color: $textColor;
  margin: 2px;
  font-size: large;
}
::ng-deep .mat-card-title {
  color: $textColor;
}

::ng-deep .mat-divider {
  border-top: 3px $backdropColorDark solid;
}

.delete-stop-button {
  width: fit-content;
  height: fit-content;
  font-size: 3vmin;
  color: $errorColor;
  cursor: pointer;
  user-select: none;
}

::ng-deep .add-button {
  margin: 1vmin !important;
  width: fit-content;
  height: fit-content;
  font-size: 3vmin;
  color: $mainColor;
  cursor: pointer;
  user-select: none;
}
.button-delete-container {
  width: 100%;
  margin: 1vmin;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
::ng-deep .mat-input-element:disabled {
  color: $backButtonColor;
}
::ng-deep .mat-option {
  background: $secondaryColor;
  color: $textColor;
}

//select override
::ng-deep .mat-select {
  color: $mainColor;
  ::ng-deep .mat-option {
    background-color: $secondaryColor;
  }

  ::ng-deep .mat-select-panel .mat-option.mat-selected {
    background-color: $secondaryColor;
  }

  ::ng-deep .mat-focused.mat-primary .mat-select-arrow {
    color: $textColor;
  }

  ::ng-deep .mat-select-arrow {
    color: $textColor !important;
  }

  ::ng-deep .mat-select-value {
    color: white !important;
  }

  ::ng-deep .mat-select-value-text {
    color: white !important;
  }
}
